<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />

    <title>Talk with Doraemon</title>
  </head>
  <body>
    <container class="container">
      <!-- <div>
            <iframe src='https://my.spline.design/molang3dcopy-a467aca40b5f3695f9805fece1c3e6fe/' frameborder='0' width='100%' height='100%'></iframe>
        </div> -->
      <div id="output" class="hide"></div>

      <div class="botbody">
        <!-- <img src="images/doraemon.png" /> -->

        <img class="doraImage hidden" src="static/images/doradora.png" />

        <div class="pannel">
          <div class="interact">
            <img src="static/images/voice.svg" class="voiceIcon" />
          </div>
        </div>
        <!-- <div class="listenMessage hidden">Say something, I'm listening ...</div> -->
      </div>
    </container>

    <!-- <script src="script.js"></script> -->
    <!-- <script src="{{url_for('static', filename='scripts/script.js')}}"></script> -->

    <script>
      const voiceIcon = document.querySelector(".voiceIcon")
      const doraImage = document.querySelector(".doraImage")
      const container = document.querySelector(".container")

      let userInfo = {
        name: "John Brown",
        type: "Admin",
        rep: ""
      }

      // const listenMessage = document.querySelector(".listenMessage")

      let playSound = () => new Audio("static/sounds/click.wav").play()

      let appear = () => new Audio("static/sounds/appear.mp3").play()

      let yesOfcourse = () =>
        new Audio("static/sounds/response/yesOfcourse.mp3").play()

      voiceIcon.addEventListener("click", (e) => {
        e.preventDefault()
        console.log("clicked")
        playSound()
        userInfo["rep"] = ""

        // voiceIcon.classList.toggle("saySomething")
        // listenMessage.classList.toggle("hidden")
        //listen to voice and show it in screen
        //listen to voice and show it in console
        // listenVoice()
        runSpeechRecognition()
      })

      // function listenVoice() {

      // }

      function runSpeechRecognition() {
        voiceIcon.classList.toggle("saySomething")
        // listenMessage.classList.toggle("hidden")
        // get output div reference
        var output = document.getElementById("output")
        // get action element reference
        var action = document.getElementById("action")
        // new speech recognition object
        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition
        var recognition = new SpeechRecognition()

        // This runs when the speech recognition service starts
        recognition.onstart = function () {
          // action.innerHTML = "<small>listening, please speak...</small>";
        }

        recognition.onspeechend = function () {
          voiceIcon.classList.toggle("saySomething")
          // listenMessage.classList.toggle("hidden")
          // action.innerHTML = "<small>stopped listening, hope you are done...</small>";
          recognition.stop()
        }

        // This runs when the speech recognition service returns result
        recognition.onresult = function (event) {
          var transcript = event.results[0][0].transcript
          var confidence = event.results[0][0].confidence
          output.innerHTML =
            "<b>Nobita:</b> " +
            transcript +
            "<br/> <b>Confidence:</b> " +
            confidence * 100 +
            "%"
          output.classList.remove("hide")
          // botTalk(chatbot(transcript))
          userInfo["rep"] = transcript
          chatbot(transcript)
        }

        // start recognition
        recognition.start()
      }

      function sendUserInfo() {
        const request = new XMLHttpRequest()
        request.open("POST", `/processUserInfo/${JSON.stringify(userInfo)}`)
        request.onload = () => {
          const flaskMessage = request.responseText
          console.log(flaskMessage)
          botTalk(flaskMessage)
        }

        request.send()
      }

      function botTalk(m) {
        var msg = new SpeechSynthesisUtterance()
        var voices = window.speechSynthesis.getVoices()
        msg.voice = voices[10]
        msg.voiceURI = "native"
        msg.volume = 1
        msg.rate = 1
        msg.pitch = 0.8
        msg.text = m
        msg.lang = "en-US"
        speechSynthesis.speak(msg)
      }

      function chatbot(text) {
        message = text.toLowerCase()
        let reply = ""

        if (message == "hello anyone here") {
          // setTimeout(()=>{
          //   yesOfcourse()

          // },1000)
          yesOfcourse()

          setTimeout(() => {
            appear()
            doraImage.classList.remove("hidden")
            doraImage.classList.add("appear")
          }, 2000)
          setTimeout(() => {
            hereIam()
          }, 6000)
        } else {
          sendUserInfo()
        }

        // console.log(reply)
        // return reply
      }
    </script>
  </body>
</html>
